extends base

block content 
    main
        section.moderator_section
            .mod_left_bar
                .mod_window#loadRequests
                    div(style="width: 7rem;")
                        img(src="/data/icons/music-file.png" alt="" width="100%")
                    p Заявки
                .mod_window#loadReports
                    div(style="width: 7rem;")
                        img(src="/data/icons/report.png" alt="" width="100%")
                    p Жалобы
            
            .mod_right_bar
                p.mod_title Заявки
                each req in requests
                    if req.status == "На рассмотрении"
                        .request(id=req._id)
                            .request_basic_info
                                .request_date
                                    p= new Date(req.date).toLocaleDateString('ru-RU', { day: '2-digit', month: '2-digit', year: 'numeric' })
                                .request_author
                                    div.default(style="width: 6rem; height: 6rem; overflow: hidden; border-radius: 50%;")
                                        img(src=`/api/v1/file/${req.mediaFile.coverKey}` alt="" width="100%")
                                    p= req.mediaFile.name
                                .request_player
                                    audio(controls src=`/api/v1/file/${req.mediaFile.audioKey}`)
                            
                            .request_btns
                                button#tocancel Отклонить
                                button#toapprove Принять
        .to_hide.dp_none#toreason
            .reason_overlay 
                .reason_holder
                    p Добавьте описание проблемы
                    textarea.reason_box#reasoninfo 
                    button.link_button#sendreason(style="width:fit-content; border: 0.2rem solid black; color: black;") Отправить
block scripts 
    script(src='/js/moderator.js')